﻿<!DOCTYPE html>
<html lang="ru" ng-app="ratesModule">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отобразить курсы валют в виде таблицы (реализовать через директиву)</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>
    <h1>Hello!!!</h1>
    
    <div ng-controller="contrRates">
        <div ng-repeat="r in rates">
            {{r.buy}}
            
        </div>
    </div>
    



    <script src="node_modules/angular/angular.min.js"></script>
    <script src="js/controllers/ratesController.js"></script>
</body>

</html>